## Server ##
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

src/main/resources/
!src/main/resources/certificate.pem
!src/main/resources/create_stores.bat
